*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: blue;
    color: white;
}
.navbar img{
    width: 5rem;
}
.nav-btn button{
    width: 6rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 1rem;
    background-color: blue;
    color: white;
    font-size: 1rem;
    transition: all 0.4s ease;
}
.nav-btn button:hover{
    transform: scale(1.1);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.card{
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}
.card img{
    width: 100%;
    height: 90%;
    border-radius: 10px 10px 0px 0px;
}
.card-body{
    padding: 1rem;
    text-align: center;
}
.votes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 0.8rem;
}
.card-body p{
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 5px;
}
.card:hover{
    box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.93);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.search-div form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.search-div input{
    width: 10rem;
    height: 1.5rem;
    padding: 0.8rem;
}
button{
    cursor: pointer;
}
.details-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5rem ;
    gap: 5rem;
    overflow: hidden;
}
.details-div img{
    height: 40rem
}
.details-div button{
    background-color: rgb(255, 30, 30);
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    transition: all 0.4s ease;
}
.details-div button:hover, .login button:hover{
    opacity: 0.7;
    transform: scale(1.1);
}
.details-body{
    width: 40%;
}
.types{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.types h3{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
}
.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
.login form, .login-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.login-div{
    background-color: orange;
    padding: 5rem;
}
.login label{
    margin-top: 2rem;
    font-weight: bold;
}
.login input{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
}
.login button{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
    margin-top: 1rem;
    background-color: rgb(255, 0, 76);
    color: white;
    font-weight: bold;
    transition: all 0.4s ease;
}